.page-enter-active {
  transition: all 0.15s ease-out;
}

.page-leave-active {
  transition: all 0.15s ease-in;
}

.page-enter {
  opacity: 0;
  transform: translateY(0.8rem);
}

.page-enter-to,
.page-leave {
  opacity: 1;
  transform: none;
}

.page-leave-to {
  opacity: 0;
  transform: translateY(0.8rem);
}
