.c-clients {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
  margin: 3.2rem auto;
  max-width: 80rem;
}

.c-client {
  display: block;
  margin: 1.6rem 3.2rem;
}
