.c-clients {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
  margin: 3.2rem auto;
  max-width: 80rem;
}

.c-client {
  display: block;
  margin: 1.6rem 3.2rem;

  svg {
    display: block;
  }

  svg * {
    fill: var(--gray-400);
    transition: fill 0.1s linear;
  }

  &:hover svg * {
    fill: var(--gray-500);
  }
}
