.c-content {
  padding: 7.2rem 0;

  @media (max-width: 53em) {
    padding: 0;
  }

  .lead p {
    color: var(--gray-900);
    font-size: 2rem;
    letter-spacing: -0.02em;
    line-height: 3.2rem;
    margin-bottom: 3.2rem;

    @media (max-width: 53em) {
      font-size: 1.8rem;
      line-height: 3rem;
    }

    strong {
      color: #000;
      font-weight: 600;
    }
  }

  h2:not([class]) {
    font: 600 2.2rem/3.2rem var(--font-stack, sans-serif);
    letter-spacing: -0.018em;
    margin: 4rem 0 1.6rem;

    &:first-child {
      margin-top: 0;
    }
  }

  h3:not([class]) {
    font-size: 2rem;
    font-weight: 600;
    letter-spacing: -0.018em;
    margin: 3.2rem 0 1.6rem;

    &:first-child {
      margin-top: 0;
    }
  }

  p,
  ul:not([class]),
  ol:not([class]) {
    color: var(--gray-500);
    line-height: 2.8rem;
    margin-bottom: 1.6rem;

    @media (max-width: 53em) {
      margin-bottom: 0.8rem;
    }
  }

  ul:not([class]),
  ol:not([class]) {
    list-style-type: square;
    margin: 2.4rem 0;
    padding-left: 3.2rem;

    @media (max-width: 53em) {
      padding-left: 1.6rem;
      margin: 1.6rem;
    }
  }

  ol:not([class]) {
    list-style-type: decimal;
  }

  li:not([class]) {
    margin-bottom: 1.6rem;
    padding-left: 0.8rem;

    @media (max-width: 53em) {
      margin-bottom: 0.8rem;
    }
  }

  code {
    background: linear-gradient(to bottom, var(--blue-50), var(--blue-100));
    border-radius: 0.4rem;
    color: var(--blue-600);
    font: 600 1.4rem SFMono-Regular, Menlo, Monaco, Consolas, 'Liberation Mono',
      'Courier New', monospace;
    padding: 0.2rem 0.4rem;
  }

  pre {
    background: #011626;
    border-radius: 0.4rem;
    color: #fff;
    display: block;
    line-height: 2.4rem;
    margin: 3.2rem 0;
    padding: 2.4rem;
    overflow-x: auto;

    code {
      background: none;
      color: inherit;
      font-weight: normal;
      padding: 0;
    }
  }

  strong {
    color: #000;
    font-weight: 600;
  }

  blockquote {
    font-size: 2rem;
    line-height: 3.2rem;
    margin: 6.4rem auto;
    max-width: 48rem;

    @media (max-width: 53em) {
      font-size: 1.8rem;
      line-height: 2.4rem;
    }

    p {
      color: var(--gray-900);
      line-height: 3.2rem;
      position: relative;
      text-align: center;

      @media (max-width: 53em) {
        margin-bottom: 1.6rem;
      }

      &:before,
      &:after {
        background: linear-gradient(
          to bottom,
          rgba(#0076ff, 0.05),
          rgba(#0076ff, 0.15)
        );
        background-clip: text;
        color: var(--blue-500);
        font-weight: 700;
        font-size: 20rem;
        line-height: 1;
        pointer-events: none;
        position: absolute;
        -webkit-text-fill-color: transparent;
        top: 0;
      }

      &:before {
        content: '“ ';
        left: -4.8rem;
      }

      &:after {
        content: ' ”';
        right: -4.8rem;
      }
    }

    footer {
      color: var(--gray-400);
      font-size: 1.6rem;
      line-height: 2.8rem;
      padding-top: 1.6rem;
      position: relative;
      text-align: center;

      @media (max-width: 53em) {
        font-size: 1.4rem;
        line-height: 2.4rem;
      }

      &:after {
        background: var(--gray-200);
        content: '';
        height: 1px;
        left: 50%;
        position: absolute;
        top: 0;
        transform: translateX(-50%);
        width: 50%;
      }
    }
  }

  .center {
    text-align: center !important;
  }

  .note {
    color: var(--gray-400);
    font-size: 1.3rem;
    font-style: italic;
  }

  a:not([class]),
  a[class=''] {
    color: var(--blue-600);
    text-decoration: none;

    &:hover {
      border-bottom: 1px solid var(--blue-500);
    }
  }

  img:not([class]),
  video:not([class]),
  iframe {
    display: block;
    margin: 5.6rem auto;
    max-width: 100%;
  }

  img:not([class]),
  video:not([class]) {
    height: auto;
  }

  video:not([class]) {
    width: 100%;
  }

  iframe {
    width: 100%;
  }

  figure {
    display: block;
    margin-left: -5.6rem;
    margin-right: -5.6rem;

    img:not([class]),
    video:not([class]),
    iframe {
      border-radius: 0.8rem;
    }
  }

  figcaption {
    color: var(--gray-400);
    display: block;
    font-size: 1.4rem;
    line-height: 2rem;
    margin: -3.2rem 0 5.6rem;
    text-align: center;
  }

  @media (max-width: 53em) {
    padding: 0;

    figure {
      margin-left: -3.2rem;
      margin-right: -3.2rem;

      img:not([class]),
      video:not([class]),
      iframe {
        border-radius: 0rem;
      }
    }

    figcaption {
      margin: -1.6rem 0 3.2rem;
      padding: 0 3.2rem;
    }

    video:not([class]),
    img:not([class]) {
      margin: 3.2rem auto;
    }

    iframe {
      margin: 3.2rem 3.2rem;
    }
  }

  .c-date {
    color: var(--gray-400);
    font-size: 1.4rem;
    font-family: var(--font-stack, sans-serif);
    letter-spacing: 0.2rem;
    margin: 0 0 1.6rem 0;
    text-align: center;
    text-transform: uppercase;
  }
}

.c-content__center {
  @media (min-width: 53em) {
    flex: none;
    margin: auto;
    max-width: 64rem;
    width: 100%;
  }
}
