.c-cover {
  display: block;
  margin: -8.8rem 0 4.8rem;
  overflow: hidden;
  position: relative;

  @media (max-width: 53em) {
    margin: -5.6rem -3.2rem 3.2rem;
    padding-top: 2.4rem;
  }
}

.c-cover__background {
  border-radius: 0.8rem;
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 2.4rem;
  z-index: 1;

  @media (max-width: 53em) {
    border-radius: 0;
    top: 0;
  }
}

@keyframes enterCoverImage {
  0% {
    transform: translateY(1.6rem);
  }
  100% {
    transform: translateY(0);
  }
}

.c-cover__image {
  animation: enterCoverImage 2s cubic-bezier(0.19, 1, 0.22, 1) 0.5s 1 both;
  display: block;
  height: auto;
  margin: auto;
  max-height: 40rem;
  max-width: 100%;
  position: relative;
  width: auto;
  z-index: 2;
}
