.c-cover {
  border-radius: 0.8rem;
  display: block;
  margin: -7.2rem 0 4.8rem;
  overflow: hidden;

  @media (max-width: 53em) {
    border-radius: 0;
    margin: -3.2rem -3.2rem 3.2rem;
  }
}

.c-cover__image {
  display: block;
  height: auto;
  margin: auto;
  max-height: 40rem;
  max-width: 100%;
  width: auto;
}
