.c-link-list {
  margin: 4rem 0;
}

.c-link-list-item {
  display: flex;
  margin-bottom: 2.4rem;
  text-decoration: none;

  &:hover {
    border: 0 !important;
  }
}

.c-link-list-item__subtitle {
  color: var(--gray-400);
  flex: none;
  line-height: 2.8rem;
  padding-top: 0.2rem;
  width: 16rem;
}

.c-link-list-item__title {
  color: var(--gray-900);
  flex: 1 1 0;
  font: 600 2rem/3.2rem var(--font-stack, sans-serif);
  letter-spacing: -0.018em;
  margin: 0;
  transition: color 0.1s linear;
}

.c-link-list-item:hover .c-link-list-item__title {
  color: var(--blue-500);
}

@media (max-width: 32em) {
  .c-link-list-item {
    display: block;
  }
}
