.c-navigation {
  display: flex;
  flex: none;
  font: 1.4rem/1.6rem var(--font-stack, sans-serif);
  margin-bottom: 4rem;
  position: relative;
  z-index: 5;
}

.c-navigation__logo {
  flex: none;
  margin: -0.8rem 3.2rem -0.8rem 0;
}

.c-navigation__left {
  display: flex;
}

.c-navigation__item {
  color: var(--gray-400);
  display: block;
  text-decoration: none;
  text-transform: uppercase;
  transition: color 0.1s linear;

  &:hover:not(.c-navigation__item--active):not(.c-language__item--active) {
    color: var(--blue-500);
  }
}

.c-navigation__item + .c-navigation__item {
  margin-left: 3.2rem;
}

.c-navigation__item--active {
  color: var(--gray-900);
  font-weight: 600;
}

@media (max-width: 53em) {
  .c-navigation {
    background: var(--gray-900);
    bottom: 0;
    left: 0;
    margin: 0;
    padding: 2.4rem;
    position: fixed;
    right: 0;
    z-index: 10;
  }

  // Extra bottom margin if necessary
  @supports (padding-bottom: env(safe-area-inset-bottom)) {
    .c-navigation {
      --safe-area-inset-bottom: env(safe-area-inset-bottom);
      padding-bottom: calc(max(2.4rem, var(--safe-area-inset-bottom)));
    }
  }

  .c-navigation__left {
    flex: 1 1 auto;
    justify-content: space-around;
  }

  .c-navigation__item {
    color: var(--gray-200);

    &:hover:not(.c-navigation__item--active):not(.c-language__item--active) {
      color: var(--gray-100);
    }
  }

  .c-navigation__item--active {
    color: #fff;
  }

  .c-navigation__item + .c-navigation__item {
    margin-left: 0;
  }
}

@media (max-width: 32em) {
  .c-navigation__logo {
    display: none;
  }
}

@media (max-width: 20em) {
  .c-navigation {
    font-size: 1.1rem;
  }
}
