.c-services {
  display: grid;
  grid-gap: 4rem;
  grid-template-columns: 1fr 1fr;
}

.c-service {
  p:last-child {
    margin-bottom: 0;
  }
}

.c-service__icon {
  margin: 0 0 2.4rem;

  img {
    border: 0;
    display: block;
    margin: 0;
  }
}

@media (max-width: 53em) {
  .c-services {
    display: block;
  }

  .c-service {
    margin-bottom: 4rem;
  }
}
